<div *ngIf="isLoading" class="spinner">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!isLoading">
  <mat-card>
    <mat-card-title>{{ group.name }} Leaderboard</mat-card-title>
    <mat-card-subtitle>ID {{ group.id }}</mat-card-subtitle>
  </mat-card>

  <mat-card *ngFor="let member of group.members; index as i">
    <mat-card-title>{{i + 1}}. {{member.username}}</mat-card-title>
    <mat-card-subtitle><span class="score">{{member.score}}</span> point(s)</mat-card-subtitle>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <button mat-raised-button color="primary" [routerLink]="['/home']">Back</button>
    </mat-card-content>
  </mat-card>
</div>
