<mat-card>
  <mat-card-title>Log in</mat-card-title>
  <mat-card-subtitle>Enter your username and password.</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="formLogin">
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" type="text" formControlName="username" 
          autocorrect="off" autocapitalize="off" spellcheck="false">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" 
          autocorrect="off" autocapitalize="off" spellcheck="false">
        </mat-form-field>
      </div>
    </form>
    <div>
      <button mat-raised-button color="primary" (click)="onSubmitClicked()">Submit</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Don't have an account?</mat-card-title>
  <mat-card-subtitle>Create one here.</mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" [routerLink]="['/register']">Create an account</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Statistics</mat-card-title>
  <mat-card-subtitle>See statistics about all players</mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" [routerLink]="['/statistics']">See statistics</button>
  </mat-card-content>
</mat-card>