<mat-card>
  <mat-card-title>Your predictions</mat-card-title>
  <mat-card-subtitle>See and change (if allowed) your predictions.</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/prediction']">See your predictions</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Your score</mat-card-title>
  <mat-card-subtitle>Your score is calculated each Tuesday (to avoid spoilers on Monday).</mat-card-subtitle>
  <mat-card-content>
    <mat-spinner *ngIf="isLoadingScore" diameter="50"></mat-spinner>
    <span *ngIf="!isLoadingScore"><span class="score">{{score}}</span> point(s)</span>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Your groups</mat-card-title>
  <mat-card-subtitle>Click on a group to see its leaderboard.</mat-card-subtitle>
  <mat-card-content>
    <mat-spinner *ngIf="isLoadingGroups" diameter="50"></mat-spinner>
    <mat-action-list *ngIf="!isLoadingGroups && groups.length != 0">
      <button mat-list-item *ngFor="let group of groups; index as i" [routerLink]="['/group', group.group._id]">
        <h4 mat-line> {{ group.group.name }} </h4>
        <mat-divider *ngIf="group.length != 1"></mat-divider>
      </button>
    </mat-action-list>
    <h4 *ngIf="!isLoadingGroups && groups.length == 0">You haven't joined any groups.</h4>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/join-group']">Join a group</button>
  </mat-card-actions>
</mat-card>
