<mat-card>
  <mat-card-title>Your predictions</mat-card-title>
  <mat-card-subtitle>See and change (if allowed) your predictions.</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/prediction']">See your predictions</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Your score</mat-card-title>
  <mat-card-subtitle>Your score is calculated each Tuesday (to avoid spoilers on Monday).</mat-card-subtitle>
  <mat-card-content>
    0
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Your groups</mat-card-title>
  <mat-card-subtitle>Click on a group to see its leaderboard.</mat-card-subtitle>
  <mat-card-content>
    blabla
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/join-group']">Join a group</button>
  </mat-card-actions>
</mat-card>
