<div [hidden]="!isLoading" class="spinner">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [hidden]="isLoading">
  <mat-card>
    <mat-card-title>Statistics</mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Character</mat-label>
        <select matNativeControl (change)="onCharacterChange($event)" [(ngModel)]="currentSelectedCharacter">
          <option *ngFor="let character of characters; index as i" value="{{ character }}">{{ character }}</option>
        </select>
      </mat-form-field>
      <canvas id="canvas">{{chart}}</canvas>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <button mat-raised-button [routerLink]="['/home']">Back</button>
    </mat-card-content>
  </mat-card>
</div>