canvas {
  margin: 20px 0px;
}

mat-card {
  margin-bottom: 20px;
}

.score {
  font-size: 30px;
}

.small-score {
  font-size: 18px;
}

.canvas-container {
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 960px) {
  .canvas-container {
      width: 500px;
  }
} 