<div [hidden]="!isLoading" class="spinner">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [hidden]="isLoading">
  <mat-card>
    <mat-card-title>Statistics</mat-card-title>
    <mat-card-subtitle>Keep in mind that no character was mandatory, and some users did omit voting for some characters</mat-card-subtitle>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Character</mat-label>
        <select matNativeControl (change)="onCharacterChange($event)" [(ngModel)]="currentSelectedCharacter">
          <option *ngFor="let character of characters; index as i" value="{{ character }}">{{ character }}</option>
        </select>
      </mat-form-field>
      <div class="canvas-container">
        <canvas id="canvas" height="300">{{chart}}</canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>General Statistics</mat-card-title>
    <mat-card-subtitle>All predictions made</mat-card-subtitle>
    <mat-card-content>
      <p>{{ facts.numberFacts.numberOfVotes }} total predictions</p>
      <p>{{ facts.numberFacts.numberOfAlives }} alive ({{ facts.numberFacts.percentageOfAlives() }}%)</p>
      <p>{{ facts.numberFacts.numberOfDeaths }} dead ({{ facts.numberFacts.percentageOfDeaths() }}%)</p>
      <p>{{ facts.numberFacts.numberOfWhiteWalkers }} white walkers ({{ facts.numberFacts.percentageOfWhiteWalkers() }}%)</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Most Saved, Killed, and Converted</mat-card-title>
    <mat-card-subtitle>Characters with the most predictions in each category</mat-card-subtitle>
    <mat-card-content>
      <p><span class="small-score">{{ facts.saves.mostSavedCharacter.name }}</span> was the most saved character ({{ facts.saves.mostSavedCharacter.value }} users)</p>
      <p><span class="small-score">{{ facts.saves.mostKilledCharacter.name }}</span> was the most killed character ({{ facts.saves.mostKilledCharacter.value }} users)</p>
      <p><span class="small-score">{{ facts.saves.mostWhiteWalkerCharacter.name }}</span> was the character most converted to WW ({{ facts.saves.mostWhiteWalkerCharacter.value }} users)</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Night King Survives</mat-card-title>
    <mat-card-subtitle>Calculated based on if the user predicted at least one character as white walker</mat-card-subtitle>
    <mat-card-content><span class="score">{{ facts.numberOfNightKingVictories }}</span> users</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Cleganebowl</mat-card-title>
    <mat-card-subtitle>Duel between the Clegane brothers</mat-card-subtitle>
    <mat-card-content><p>Both alive: {{ facts.cleganeBowl.bothAlive }}</p>
    <p>The Hound wins: {{ facts.cleganeBowl.rightAlive }}</p>
    <p>The Mountain wins: {{ facts.cleganeBowl.leftAlive }}</p>
    <p>Both die: {{ facts.cleganeBowl.bothDead }}</p></mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Killer Queens</mat-card-title>
    <mat-card-subtitle>Duel between Cersei Lannister and Daenerys Targaryen</mat-card-subtitle>
    <mat-card-content><p>Both alive: {{ facts.queens.bothAlive }}</p>
    <p>Cersei alive: {{ facts.queens.rightAlive }}</p>
    <p>Daenerys alive: {{ facts.queens.leftAlive }}</p>
    <p>Both die: {{ facts.queens.bothDead }}</p></mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Stark Survivors</mat-card-title>
    <mat-card-subtitle>How many Starks were left alive? (Jon Snow counts as a Stark)</mat-card-subtitle>
    <mat-card-content>
      <p>All of them: {{ facts.starkSurvival.all }}</p>
      <p>Three: {{ facts.starkSurvival.three }}</p>
      <p>Two: {{ facts.starkSurvival.two }}</p>
      <p>One: {{ facts.starkSurvival.one }}</p>
      <p>All dead: {{ facts.starkSurvival.none }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <button mat-raised-button [routerLink]="['/home']">Back</button>
    </mat-card-content>
  </mat-card>
</div>